$img-background: './../../../../assets/img/pexels-pixabay-33129.jpg';

.container {
  // background-image: url($img-background);
  // background-repeat: no-repeat;
  // background-position: center;
  // background-size: cover;
  // //height: 100%;
  // width: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  mat-card {
    max-width: 20%;
    margin: 50px;
    display: inline;
  }

}

.box {



  height: 100%;
  margin: 0px;
  background-image: url($img-background);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

}
