$img-background: "./../../../../assets/img/pexels-pixabay-33129.jpg";

.container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: baseline;

  background-image: url($img-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;

  .movie{

    display: inline;
    margin: 10px;

    border: solid 2px red;

    width: 35%;

    text-align: center;


    img {

      margin: 3%;
      display: inline;
      width: 60%;
      border: solid 2px blue;

    }

    h3{
      display: block;
      background-color: white;
    }

  }

}
