<div class="container">

  <mat-card *ngFor="let movie of movies">

    <mat-card-header>
      <mat-card-title>
        {{ movie.title }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ movie.room | room }}
      </mat-card-subtitle>
    </mat-card-header>


    <img mat-card-image src="{{ movie.poster }}" />

    <mat-card-content>
      <ul>
        Schedule:
        <li *ngFor="let hour of movie.hours">
          {{ hour }}
        </li>
      </ul>
    </mat-card-content>


    <mat-card-actions>
      <button mat-raised-button [routerLink]="['/movie/', movie.id]">
        Go to room {{ movie.id }}
      </button>
    </mat-card-actions>


  </mat-card>

</div>
