$img-background: "./../../../../assets/img/pexels-pixabay-33129_low.jpg";


.container {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5%;

  background-image: url($img-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

    mat-card {
      max-width: 25%;
      margin: 5px;

      img {
        height: 70%;
      }

      mat-card-content{


        ul {
          width: 100%;
          margin: auto;

          li {
            list-style-type: none;

          }
        }
      }

      mat-card-actions {
        text-align: center;
      }




    }

}
