$img-background: "./../../../../assets/img/movie2_low.jpg" ;

.card{


  background-image: url($img-background);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;

  padding: 20px;



  mat-card{

    width: 70%;
    margin: auto;



    .container {
      display: flex;
      flex-direction: wrap;
      justify-content: center;



      .right {



        .feature{

          display: flex;


          .feature-title{
            margin-right: 10px;
            font-weight: bold;
          }

        }

        }

      .left {

        width: 100%;

        img {
          width: 80%;
          object-fit: cover;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }

      }


    }

  }


  button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

}


